.button-balance {
    margin: 1rem auto;
    padding: 1.2rem 0.5rem;
    border-radius: 1rem;
    width: 40%;
    color: var(--neutral);
    background-color: var(--darktext);
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 200ms ease;
    font-weight: 700;
}

@media (min-width: 768px) {
    .button-balance {
        font-size: 1.6rem;
        width: 110px;
        height: 39px;
        padding: 1rem;
    }
}

.button-balance:hover{
    color: #3a3a3a;
    background-color: var(--neutral);
    width: 109px;
    height: 38px;
    border: 1px solid black
}