.detail-button {
    color: var(--white);
    margin: 0.4rem auto;
    width:50px;
    text-align: center;
    padding: 0.6rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    transition: background-color 200ms ease;
    cursor: pointer;
}

.detail-button.edit {
    background-color:green;
}

.detail-button.edit:hover{
    background-color: darkgreen
}

.detail-button.delete {
    background-color: red
}

.detail-button.delete:hover{
    background-color: darkred
}